<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>QB Authoring Tool</title>

  <!-- Bootstrap -->
  <!-- <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet"> -->

  <!--     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script src="../../../../../bower_components/angular/angular.min.js"></script>    -->
  <script src="/js/bootstrap-paginator.js"></script>

</head>

<body>
  <!-- cooling page code start here -->
  <div class="wrapper">
    <!-- header section -->
    <header id="header">
      <div class="container clearfix">
        <div class="clearfix">
          <!-- Logo -->
          <div class="logo">
            <a class=""><img src="/assets/images/logo.jpg" alt="Canvas Logo"></a>
          </div>
          <!-- #logo end -->
          <div class="col-sm-2 userDetails">
            <div class="dropdown">
              <button class="btn login-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{username}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li><a ui-sref="changePassword">Change Password</a></li>
                <!-- <li><a href="#">Another action</a></li> -->
                <li role="separator" class="divider"></li>
                <li><a ng-controller="logOutController" ng-click="logout()">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="nav">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li><a ui-sref="adminDashboard">Dashboard</a></li> -->
              <!-- <li><a ui-sref="qp_repository">Question Bank</a></li> -->
              <!-- <li class="dropdown"> <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exam Management <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a ui-sref="culling">Culling</a></li>
                      </ul>
                    </li> -->
              <!-- <li><a href="#">Exam Paper</a></li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                              </li> -->
            </ul>

          </div>
        </div>
        <!--   <div style=" float: right;">
                    <button class="btn btn-success">+ Create Exam Paper</button>
                  </div> -->
    </header>
    <!-- header section -->

    <!-- Main Body section -->
    <div class="container ">


      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">

        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search</h4>
            </div>
            <div class="modal-body">
              <!--  <script type="text/javascript">
      



    jQuery(document).ready(function() {
        var id = 0;
      jQuery("#addrow").click(function() {
        id++;           
        var row = jQuery('.samplerow tr').clone(true);
        row.find("input:text").val("");
        row.attr('id',id); 
        row.appendTo('#dynamicTable1');        
        return false;
    });        
        
  $('.remove').on("click", function() {
  $(this).parents("tr").remove();
});
}); 

</script>  -->


              <table id="dynamicTable1" width="100%" cellpadding="3" cellspacing="3">
                <tr id="0" ng-repeat="criteria in searchCriteria">
                  <td width="25%">
                    <!-- <select class="form-control" id="sel2"> -->
                    <select class="form-control" id="condition" ng-model="criteria.condition" ng-change=>
                      <!-- ng-change="showHiddenOption()" -->
                      <option value="">Select</option>
                      <option value="Course">Course</option>
                      <option value="Subject">Subject</option>
                      <option value="Module">Module</option>
                      <option value="Topic">Unit</option>
                      <option value="Marks">Marks</option>
                      <option value="Question Id">Question Id</option>
                      <option value="Question Type">Question Type</option>
                      <option value="Question Body">Question Body</option>
                      <option value="Reference">Reference</option>
                      <option value="Status">Status</option>

                    </select></td>
                  <td width="25%">
                    <!-- <select class="form-control" id="sel2"> -->
                    <select class="form-control" id="Prefix" ng-model="criteria.valuePrefix"
                      ng-show="criteria.condition != 'Marks' && criteria.condition != 'Question Id' ">
                      <option value="">Select</option>
                      <option value="1">Contains</option>
                      <option value="2">Does Not Contains</option>
                      <option value="3">Starts With</option>
                      <option value="4">Ends With</option>
                      <option value="5">Equal To</option>
                    </select>
                    <select class="form-control" id="Prefix1" ng-model="criteria.valuePrefix"
                      ng-show="criteria.condition == 'Marks' || criteria.condition == 'Question Id'">
                      <option value="">Select</option>
                      <option value="5">Equal To</option>
                      <option value="6">Not Equal To</option>
                      <option value="8">Greater Than Equal To</option>
                      <option value="10">Less Than Equal To</option>
                      <!--  <option value="10" hidden="true">Less Than Equal to </option> -->
                      <!--   <option value="11">Betweeen</option> -->
                    </select>
                  </td>
                  <td width="40%">
                    <!-- <input type="text" id="fld3" class="form-control" /> -->
                    <input type="text" id="fld3" class="form-control" ng-model="criteria.value" />
                    <!--  <select class="form-control" id="fld31"  ng-model="criteria.value" ng-show="criteria.condition == 'Subject'">
        <option value="">Select</option>
        <option value="1">Principle and Practices of Banking</option>
        <option value="2">Advanced Bank Management</option>
      </select> -->
                  </td>

                  <td width="10%" valign="top">
                    <!-- <a href="#" class="btn btn-default btnGreen " id="addrow"> -->
                    <!-- <a href="#" ng-show="criteria.addRemove == 'add'" ng-click="addRow(criteria.id)" class="btn btn-primary btn-add">
  +</a> -->

                    <button ng-show="criteria.addRemove == 'add'" ng-click="addRow(criteria.id)"
                      class="btn btn-primary btn-add">
                      +</button>

                    <button ng-show="criteria.addRemove == 'remove'" ng-click="removeRow(criteria.id)"
                      class="btn btn-primary btn-danger">-</button>
                  </td>
                </tr>
              </table>





              <!--     
  <div class="row">
            <div class="col-md-3"><select class="form-control" id="sel2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></div>
            <div class="col-md-3"><select class="form-control" id="sel2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></div>
            <div class="col-md-5"><input type="text" id="p_scnt" size="20" name="p_scnt" class="form-control" value="" placeholder="Input Value" /></div>
            <div class="col-md-1">
<a href="#" class="btn btn-default btnGreen" id="addScnt">+</a>
            </div>
          </div> -->

            </div>
            <div class="modal-footer text-left">
              <button type="button" class="btn btn-default btnGreen" data-dismiss="modal"
                ng-click="submitCriteria()">Search</button>
              <button type="button" class="btn btn-default" ng-click="resetValue()">Reset</button>
            </div>
          </div>

        </div>
      </div>





      <div class="modal fade" id="uploadQbModal" role="dialog">

        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="close-modal" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Upload Question Bank</h4>
            </div>
            <div class="modal-body">


              <form class="ng-pristine ng-valid">
                <div class="input-group">
                  <input type="file" class="btn btn-default form-control m-b" name="file" id="file">
                  <span class="input-group-btn">
                    <input type="submit" value="Submit" class="btn btn-success m-b" ng-click="importFile()">
                  </span>
                </div>



              </form>

            </div>

          </div>

        </div>
      </div>
      <script src="/scripts/constantMap.js"></script>
      <script type="text/javascript">
      </script>
      <div>

        <div class="row addUpadateRow">
          <div class="col-md-6" style="margin-top: 10px;">
            <a ng-if="loginUser.role == 'ADM'" ui-sref="adminDashboard" class="btnBordered" data-toggle="modal"
              data-target="#backTemplate" aria-label="Left Align">Home</a>
            <a ng-if="loginUser.role == 'SUADM'" ui-sref="SuperAdminDashboard" class="btnBordered" data-toggle="modal"
              data-target="#backTemplate" aria-label="Left Align">Home</a>
            <a ng-if="loginUser.role != 'ADM' && loginUser.role != 'SUADM'" ui-sref="vetterPublisherHomePage"
              class="btnBordered" data-toggle="modal" data-target="#backTemplate" aria-label="Left Align">Home</a>
          </div>
        </div>

        <div>
          <div class="col-sm-4 roundborder">
            <div class="row">
              <div class="col-md-12 changepwd_title">
                Change Password
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Old password</label><span style="color: red">*</span>
                  <input type="password" class="form-control" ng-model="user.oldPassword" onpaste="return false;" />
                </div>
              </div>
              <div class="col-md-12 clearboth">
                <div class="form-group">
                  <label>New password</label><span style="color: red">*</span>
                  <input type="password" class="form-control" ng-model="user.newPassword" onpaste="return false;" />
                </div>
              </div>
              <div class="col-md-12 clearboth">
                <div class="form-group">
                  <label>Confirm password</label><span style="color: red">*</span>
                  <input type="password" class="form-control" ng-model="user.confirmPassword" onpaste="return false;" />
                </div>
              </div>
              <div class="col-md-12 clearboth">
                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-success" ng-click="changePassword()">
                  <span style="color: red;" ng-if="errorMessage">
                    {{responseMessage}}
                  </span>
                  <span style="color: green;" ng-if="successMessage">
                    {{responseMessage}}
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Main Body section -->
    </div>
    <div class="push"></div>
  </div>



  <!-- footer section -->
  <div class="footer">
    <footer>
      <div class="container ">
        <div class="fText"> &#169; Copyright 2018 NSEIT LTD All Rights Reserve </div>
      </div>
    </footer>
  </div>
  <!-- footer section -->
  <!-- cooling page end start here -->

  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- <script src="../../js/bootstrap.min.js"></script> -->
  <script type="text/javascript">
    $('.message a').click(function () {
      $('form').animate({
        height: "toggle",
        opacity: "toggle"
      }, "slow");
    });


// $(document).ready(function () {
//     $('#tab1').click(function () { 
//         $('#tabDetails1').toggle();
//         $('#tabDetails2').hide();
//         $('#tabDetails3').hide();
//     });
//     $('#tab2').click(function () { 
//         $('#tabDetails2').toggle();
//             $('#tabDetails1').hide();
//         $('#tabDetails3').hide();
//     });
//     $('#tab3').click(function () { 
//         $('#tabDetails3').toggle();
//             $('#tabDetails2').hide();
//         $('#tabDetails1').hide();
//     });

// });  

  </script>


</body>

</html>